body{
    background-color: #1c2531;
    padding-left:100px;
    padding-top: 50px;
    padding-right: 100px;
    font-family: 'New Century Schoolbook', serif;
}

img{
  float: right;
}


#bg{
    border: 4px solid floralwhite;
    border-radius: 100%;
}

a, a:visited{
  text-decoration: none;
  color:deeppink ;
}

p{
  color: floralwhite;
  font-size: 24px;
}
