.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: fixed;

  padding-left: 37px;
  background: transparent;
}



.dropdown:hover .dropdown-content{
  display: block;

}

button{
  outline: none;
  border: 0;
  background: transparent;
  display: inline;
  cursor: pointer;
}
