body{
    background-color: darkgoldenrod;
    padding-left:100px;
    padding-top: 50px;
    padding-right: 100px;
    font-family: 'Arial';
}

img{
  float: right;

}

#gr{
    border: 4px solid darkkhaki;
    border-radius: 100%;
}

a, a:visited{
  text-decoration: none;
  color: crimson;
}

p{
  color: darkkhaki;
  font-size: 24px;
}
