body{
    background-color: darkgoldenrod;
    padding-left:100px;
    padding-top: 50px;
    padding-right: 100px;
    font-family: 'Arial';
}

img{
  padding-left: 1000px;
}

a, a:visited{
  text-decoration: none;
  color: crimson;
}

p{
  color: darkkhaki;
  font-size: 24px;
}
